<form
  class="spa d-flex justify-content-between"
  [formGroup]="appForm"
  (ngSubmit)="ngxAppOnSubmit()"
>
  <div class="row w-100 pl-3">
    <div class="col-xl-4">
      <div id="DataTables_Table_1_filter" class="dataTables_filter">
        <input
          type="search"
          formControlName="filterText"
          class="form-control form-control-md"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="col-xl-4">
      <button type="submit" class="btn btn-primary">Search</button>
      <button type="button" style="margin-left: 10px;" class="btn btn-primary" (click)="this.onReload()">Reload</button>
    </div>
  </div>
</form>
